---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-2 mb-4">Finite Element Method Codes</h4>
    {% for item in site.data.settings.finite_element %}
      <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
    <h4 class="fw-bold border-bottom pb-3 mb-5">Optimization Methods Codes</h4>
    {% for item in site.data.settings.optimization %}
      <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
  </div>
</div>
