---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h2 class="fw-bold border-bottom pb-3 mb-5">Codes</h3>
      <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">Finite Element Method Codes</h3>
        {% for item in site.data.settings.finite_element %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% endfor %}
        <h3 class="fw-bold border-bottom pb-3 mb-5">Optimization Methods Codes</h3>
        {% for item in site.data.settings.optimization %}
          <p><a href="{{ item.url }}">{{ item.name }}</a></p>
        {% endfor %}
  </div>
</div>
